{% extends "templates/partials/embed-base.html" %}
    
    {% block embed %}

        {# EMBED CONTAINER #}
        <div 
            class="embed-container" 

            style="
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                line-height:0;
                overflow: hidden;
                "
        >

            {# YOUTUBE IFRAME #}

                {% include "templates/partials/youtube-iframe.html" %}

            {# EMBED OVERLAY #}

                {% include "templates/partials/embed-overlay.html" %}

        
        </div> {# EMBED CONTAINER #}

    {% endblock %}