{% extends "templates/partials/blank-base.html" %}
    
    {% block content %}

        <div 
            class="video-iframe-container" 

            style="
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                "
        >
            <iframe 
                id="YouTube" 
                type="text/html" 
                width="1920" 
                height="1080" 
                frameborder="0" 
                scrolling="no" 

                src="
                    http://www.youtube.com/embed/

                    OPf0YbXqDm0

                    ?
                    &
                    vq=hd1080
                    &
                    rel=0
                    &
                    controls=0
                    "

                style="
                    position: absolute; 
                    top:0; 
                    left:0; 
                    width:100%; 
                    height:100%; 
                    "
            >
            </iframe>
        </div>

    {% endblock %}